<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick & Morty</title>
</head>
<body>
    <div class="container-header">
        <h2>Desafio do Rick and Morty!</h2>
        <a href="https://github.com/igoralbuquerque12/desafio-RickMorty/blob/master/README.md">Leia mais sobre esse projeto</a>
    </div>
    <div class="container-body">
        
    </div>
    <script src="/js/scriptsVisualizar.js"></script>
</body>
</html>