<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <title>Rick & Morty</title>
</head>
<body>
  <nav class="bg-body-tertiary border-bottom d-flex justify-content-between p-2 px-4">
    <a class="text-dark fw-bold" href="">Porque este projeto?</a>
    <a class="text-dark fw-bold" href="">Veja meus outros projetos no GitHub</a>
  </nav>
  
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <h1 class="display-5 font-weight-bold text-dark p-5">Desafio Rick & Morty</h1>
      <div class="btn-group pr-5" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check d-none" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-dark" for="btnradio1">Todos</label>
      
        <input type="radio" class="btn-check d-none" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-dark" for="btnradio2">Aparições</label>
      
        <input type="radio" class="btn-check d-none" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-dark" for="btnradio3">Nome</label>
      </div>
    </div>
  </nav>
  
  
  <div class="container my-5">
      <div class="row" id="container-personagem"></div>
  </div>


    <script src="/js/scriptsVisualizar.js"></script>
</body>
</html>

